// Single character
.glyph {
  background: $white;
  margin-top: -80px;
  padding: 15px;
  position: relative;

  .close {
    background: transparent;
    border: 0;
    color: $darker;
    cursor: pointer;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 40px;
  }

  h1 {
    color: $darker;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.01em;
    margin: 0 0 10px;
    padding: 0 30px;
    text-align: center;
    text-transform: uppercase;
  }

  h2 {
    color: $black;
    font-family: sans-serif;
    font-size: 10em;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 auto 20px;
    position: relative;
    text-align: center;
    width: 1.25em;
    border: 5px dotted $lighter;

    #glyph {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      margin: 0 -100%;
    }

    .copy {
      right: -35px;
    }
  }

  h3 {
    color: $medium;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.01em;
    margin: 0 0 5px;
  }

  pre {
    line-height: 2;
    margin: 0;
    color: $dark;

    &.js,
    &.html,
    &.css {
      color: $medium;

      span {
        color: $dark;
      }
    }
  }

  .copy {
    background: 0;
    border: 0;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
  }

  .examples {
    margin-top: 30px;
  }

  .code,
  .example {
    background: $lighter;
    border-radius: 2px;
    border: 1px solid $light;
    margin: 0 0 10px;
    padding: 6px 12px;
    position: relative;

    .copy-icon {
      &::after {
        background-color: $lighter;
        box-shadow: 0 0 0 1px $lighter;
      }
    }
  }

  @include mq-up($screen-md) {
    margin-top: -120px;
    padding: 30px;

    .close {
      font-size: 20px;
      height: 60px;
      line-height: 60px;
      width: 60px;
    }

    h1 {
      font-size: 30px;
      margin: 0 0 20px;
    }

    h2 {
      margin-bottom: 40px;
    }
  }
}
