.glyphs {
  text-align: center;

  > button {
    background: $white;
    border: 0;
    box-shadow: 0 1px 2px transparentize($black, .95);
    cursor: pointer;
    direction: ltr;
    display: inline-block;
    font-family: sans-serif;
    font-size: 40px;
    height: 80px;
    line-height: 80px;
    margin: 7.5px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    white-space: pre;
    width: 80px;
    transition: box-shadow $t ease;

    @include mq-up($screen-md) {
      margin: 15px;
    }

    &:hover,
    &:focus {
      box-shadow: 0 3px 6px transparentize($black, .85);
    }

    .glyph-char {
      display: block;
      margin: -15px -100% 0;
    }

    .label {
      bottom: 0;
      color: darken($medium, 15%);
      display: block;
      font-size: 10px;
      left: 0;
      line-height: 20px;
      opacity: 0.4;
      overflow: hidden;
      padding: 0 5px;
      position: absolute;
      text-align: center;
      text-overflow: ellipsis;
      text-transform: uppercase;
      width: 100%;
    }
  }
}
