// Search panel
.search {
  background: $white;
  border-bottom: 1px solid $lighter;
  height: 80px;
  left: 0;
  padding: 15px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  @include mq-up($screen-md) {
    height: 120px;
    padding: 30px;
  }

  .input {
    height: 100%;
    position: relative;
  }

  // Search box
  .search-box {
    background: $lighter;
    border: 1px solid $light;
    border-radius: 4px;
    color: inherit;
    display: block;
    font-family: inherit;
    font-size: $s;
    font-weight: 300;
    height: 100%;
    padding: 0 15px;
    width: 100%;

    &::placeholder {
      color: $medium;
    }

    &:focus,
    &:hover {
      border-color: $primary;
    }

    &:focus {
      outline: none;
      box-shadow: inset 0 0 4px $primary;
    }

    &[disabled] {
      &:hover {
        border-color: $light;
      }
    }

    @include mq-up($screen-md) {
      font-size: 20px;
      padding: 0 20px;
    }
  }

  .clear {
    background: $light;
    border: 0;
    border-radius: 50%;
    color: $medium;
    cursor: pointer;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;

    &:hover,
    &:focus {
      color: $primary;
    }

    @include mq-up($screen-md) {
      right: 14px;
      top: 14px;
    }
  }
}
