.tabs-nav {
  display: flex;
  list-style: none;
  margin: 0 auto 15px;
  max-width: 30em;
  justify-content: center;
  padding: 0;

  > li {
    margin: 0 8px 0 0;

    a {
      border: 1px solid transparent;
      border-radius: 6px;
      color: $medium;
      display: inline-block;
      font-size: 14px;
      font-weight: 300;
      padding: 1px 6px;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $primary;
      }
    }

    &.selected a {
      background: $lighter;
      border-color: $light;
      color: $primary;
    }
  }
}

.tab-panel {
  margin: auto;
  max-width: 30em;

  &[aria-hidden="true"] {
    display: none;
  }
}
