*,
*::before,
*::after {
  box-sizing: border-box;
}

// Document
body {
  background: lighten($lighter, 2%);
  color: $darker;
  font-family: $font-body;
  font-size: $s;
  line-height: $h;
  margin: 0;
  padding: 80px 0 0 0;

  @include mq-up($screen-md) {
    font-size: $s;
    padding-top: 120px;
  }
}

// Links
a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: $primary;
  transition: color $t ease;

  &:hover,
  &:focus {
    color: darken($primary, 3%);
  }
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-family: $font-body;
  font-weight: $wb;
  line-height: $hc;
  margin: 0 0 .2em;

  p + &,
  ul + &,
  ol + &,
  pre + & {
    margin-top: 1em;
  }
}

h1 {
  font-size: 1.25em;
  font-family: $font-head;
  font-weight: $wx;

  @include mq-up($screen-sm) {
    font-size: 2em;
  }
}

h2 {
  font-size: 1.5em;
  font-weight: $wb;
}

h3 {
  font-size: 1.25em;
  font-weight: $ws;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .9em;
}

h6 {
  font-size: .8em;
}

// Paragraphs
p {
  margin: 0 0 $h;

  &:empty {
    display: none;
  }
}

// Lists
ol,
ul {
  margin: 0 0 $h;
  padding: 0 0 0 $hh;

  li {
    + li {
      margin-top: .75em;
    }
  }
}

ul {
  list-style-type: square;

  ul {
    list-style-type: circle;
  }
}

// Quotes
blockquote {
  border-left: 4px solid $primary;
  color: $medium;
  font-size: 1.1em;
  font-style: italic;
  margin: $h $h $h 0;
  padding-left: $h;

  @include mq-up($screen-md) {
    margin: $hh $hh $hh 0;
    padding-left: $hh;
  }
}

// Rules
hr {
  background: $lighter;
  border: 0;
  height: 1px;
  margin: $h 0;

  @include mq-up($screen-md) {
    margin: $hh 0;
  }
}

// Monospaced elements
code,
pre {
  font-family: $font-mono;
}

pre {
  overflow-x: auto;
}

// Copy icon
.copy-icon {
  display: inline-block;
  height: 1em;
  position: relative;
  width: 1em;

  &::before {
    border-radius: 2px;
    border: 1px solid $medium;
    content: '';
    display: block;
    height: .8em;
    left: 0;
    position: absolute;
    top: 0;
    width: .65em;
    transition: border-color .3s ease;
  }

  &::after {
    background: $white;
    border-radius: 2px;
    border: 1px solid $medium;
    bottom: 0;
    box-shadow: 0 0 0 1px $white;
    content: '';
    display: block;
    height: .8em;
    position: absolute;
    right: 0;
    width: .65em;
    transition: border-color .3s ease;
  }
}

button:hover,
button:focus {
  > .copy-icon {
    &::before,
    &::after {
      border-color: $primary;
    }
  }
}

// Screen-reader text
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
