.bar {
  appearance: none;
  display: block;
  height: 4px;
  width: 100%;

  &::-webkit-progress-bar {
    background: var(--color-mono-11);
  }

  &::-webkit-progress-value {
    background: var(--color-primary);
  }
}
