html,
body {
  background: hsl(var(--color-mono-1));
  color: hsl(var(--color-mono-6));
  font-family: var(--font-family-body);
  font-size: var(--size-md);
  height: 100%;
  line-height: var(--line-height-normal);
  overscroll-behavior: none;
  touch-action: none;
}

body {
  overflow: hidden;
}

a {
  color: hsl(var(--color-primary));
  outline: none;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

::selection {
  background: hsl(var(--color-primary) / 95%);
  color: hsl(var(--color-white));
}
