.copy {
  display: flex;
  gap: var(--space-3);
  align-items: center;
  padding: 0.25em 0.75em;
  font-size: var(--font-size-sm);
  text-align: center;
  background: transparent;
  border: 0;
  border-radius: var(--radius-2);

  &:hover,
  &:focus-visible {
    background-color: var(--mono-3);
  }
}

.icon,
.copied-icon {
  font-size: 1.25rem;
}

.icon {
  color: var(--mono-8);
}

.copied-icon {
  color: var(--accent-9);
  animation: pop-in 0.3s cubic-bezier(0.58, 0.3, 0, 1.57);
}

@keyframes pop-in {
  0% {
    scale: 0.5;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

.copied .icon,
.copied .label {
  visibility: hidden;
}

.copied-icon,
.copied-label {
  display: inline-block;
  width: 0;
  white-space: nowrap;
}
