.footer {
  display: flex;
  gap: var(--space-5);
  align-items: center;
  justify-content: center;
  color: var(--mono-9);
  padding-block-end: var(--space-7);
  padding-inline: 1.5em;
  font-size: var(--font-size-sm);
  text-align: center;
  margin-block-start: var(--result-gap);
}
