.glyph {
  width: var(--app-width);
  margin-inline: auto;
  padding-inline: var(--result-gap);
}

.head {
  display: grid;
  grid-template-columns: var(--result-size) 1fr var(--result-size);
  align-items: center;
}

.name {
  grid-column: 2 / 3;
  padding: var(--result-gap);
  font-size: 1.5rem;
  text-align: center;

  @media screen and (min-width: 500px) {
    font-size: 1.75rem;
  }

  @media screen and (min-width: 768px) {
    font-size: 2rem;
  }
}

.close {
  width: var(--result-size);
  height: var(--result-size);
  color: var(--mono10);
  font-weight: 200;
  font-size: 2em;
  line-height: var(--result-size);
  text-align: center;
  background: transparent;
  border: 0;

  &:hover,
  &:focus-visible {
    color: var(--mono12);
  }
}

.ligature-link {
  text-decoration: none;
}

.ligature-name {
  text-decoration: underline;
  text-decoration-color: var(--mono6);

  .ligature-link:hover &,
  .ligature-link:focus-visible & {
    text-decoration-color: var(--outline-color);
  }
}

.ligature-char {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
}
