// https://www.radix-ui.com/docs/colors/palette-composition/the-scales

.light {
  // Color: mono
  --mono-1: hsl(300deg 20% 99%);
  --mono-2: hsl(300deg 7.7% 97.5%);
  --mono-3: hsl(294deg 5.5% 95.3%);
  --mono-4: hsl(289deg 4.7% 93.3%);
  --mono-5: hsl(283deg 4.4% 91.3%);
  --mono-6: hsl(278deg 4.1% 89.1%);
  --mono-7: hsl(271deg 3.9% 86.3%);
  --mono-8: hsl(255deg 3.7% 78.8%);
  --mono-9: hsl(252deg 4% 57.3%);
  --mono-10: hsl(253deg 3.5% 53.5%);
  --mono-11: hsl(252deg 4% 44.8%);
  --mono-12: hsl(260deg 25% 11%);

  // Color: typography
  --highlight-color: var(--accent-10);
  --outline-color: var(--accent-11);
}

.serif {
  --font-glyph: var(--font-serif);
}
