// https://www.radix-ui.com/docs/colors/palette-composition/the-scales

.light {
  // Color: mono
  --mono1: hsl(300deg 20% 99%);
  --mono2: hsl(300deg 7.7% 97.5%);
  --mono3: hsl(294deg 5.5% 95.3%);
  --mono4: hsl(289deg 4.7% 93.3%);
  --mono5: hsl(283deg 4.4% 91.3%);
  --mono6: hsl(278deg 4.1% 89.1%);
  --mono7: hsl(271deg 3.9% 86.3%);
  --mono8: hsl(255deg 3.7% 78.8%);
  --mono9: hsl(252deg 4% 57.3%);
  --mono10: hsl(253deg 3.5% 53.5%);
  --mono11: hsl(252deg 4% 44.8%);
  --mono12: hsl(260deg 25% 11%);

  // Color: typography
  --highlight-color: var(--accent10);
  --outline-color: var(--accent11);
}
