@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #f6f7f8;
  color: #2e2e2e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
  padding: 80px 0 0 0;
}
@media only screen and (min-width: 801px) {
  body {
    font-size: 16px;
    padding-top: 120px;
  }
}

a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: #1d9acc;
  transition: color 0.2s ease;
}
a:hover, a:focus {
  color: #1b90bf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2em;
  margin: 0 0 0.2em;
}
p + h1, ul + h1, ol + h1, pre + h1,
p + h2,
ul + h2,
ol + h2,
pre + h2,
p + h3,
ul + h3,
ol + h3,
pre + h3,
p + h4,
ul + h4,
ol + h4,
pre + h4,
p + h5,
ul + h5,
ol + h5,
pre + h5,
p + h6,
ul + h6,
ol + h6,
pre + h6 {
  margin-top: 1em;
}

h1 {
  font-size: 1.25em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 900;
}
@media only screen and (min-width: 601px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.8em;
}

p {
  margin: 0 0 1.6em;
}
p:empty {
  display: none;
}

ol,
ul {
  margin: 0 0 1.6em;
  padding: 0 0 0 2.2em;
}
ol li + li,
ul li + li {
  margin-top: 0.75em;
}

ul {
  list-style-type: square;
}
ul ul {
  list-style-type: circle;
}

blockquote {
  border-left: 4px solid #1d9acc;
  color: #8c9397;
  font-size: 1.1em;
  font-style: italic;
  margin: 1.6em 1.6em 1.6em 0;
  padding-left: 1.6em;
}
@media only screen and (min-width: 801px) {
  blockquote {
    margin: 2.2em 2.2em 2.2em 0;
    padding-left: 2.2em;
  }
}

hr {
  background: #f1f2f3;
  border: 0;
  height: 1px;
  margin: 1.6em 0;
}
@media only screen and (min-width: 801px) {
  hr {
    margin: 2.2em 0;
  }
}

code,
pre {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

pre {
  overflow-x: auto;
}

.copy-icon {
  display: inline-block;
  height: 1em;
  position: relative;
  width: 1em;
}
.copy-icon::before {
  border-radius: 2px;
  border: 1px solid #8c9397;
  content: "";
  display: block;
  height: 0.8em;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.65em;
  transition: border-color 0.3s ease;
}
.copy-icon::after {
  background: #fff;
  border-radius: 2px;
  border: 1px solid #8c9397;
  bottom: 0;
  box-shadow: 0 0 0 1px #fff;
  content: "";
  display: block;
  height: 0.8em;
  position: absolute;
  right: 0;
  width: 0.65em;
  transition: border-color 0.3s ease;
}

button:hover > .copy-icon::before, button:hover > .copy-icon::after,
button:focus > .copy-icon::before,
button:focus > .copy-icon::after {
  border-color: #1d9acc;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.search {
  background: #fff;
  border-bottom: 1px solid #f1f2f3;
  height: 80px;
  left: 0;
  padding: 15px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}
@media only screen and (min-width: 801px) {
  .search {
    height: 120px;
    padding: 30px;
  }
}
.search .input {
  height: 100%;
  position: relative;
}
.search .search-box {
  background: #f1f2f3;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  height: 100%;
  padding: 0 15px;
  width: 100%;
}
.search .search-box::placeholder {
  color: #8c9397;
}
.search .search-box:focus, .search .search-box:hover {
  border-color: #1d9acc;
}
.search .search-box:focus {
  outline: none;
  box-shadow: inset 0 0 4px #1d9acc;
}
.search .search-box[disabled]:hover {
  border-color: #e4e4e4;
}
@media only screen and (min-width: 801px) {
  .search .search-box {
    font-size: 20px;
    padding: 0 20px;
  }
}
.search .clear {
  background: #e4e4e4;
  border: 0;
  border-radius: 50%;
  color: #8c9397;
  cursor: pointer;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
}
.search .clear:hover, .search .clear:focus {
  color: #1d9acc;
}
@media only screen and (min-width: 801px) {
  .search .clear {
    right: 14px;
    top: 14px;
  }
}

.main {
  min-height: calc(100vh - 80px - 85px);
}
@media only screen and (min-width: 801px) {
  .main {
    min-height: calc(100vh - 120px - 85px);
  }
}

.colophon {
  color: #8c9397;
  font-size: 13px;
  font-weight: 300;
  padding: 30px 0;
  text-align: center;
}

.splash .arrow {
  color: #e4e4e4;
  font-size: 100px;
  font-weight: 100;
  line-height: 100px;
  text-align: center;
}
.splash .how-to {
  color: #8c9397;
  font-size: 24px;
  font-weight: 200;
  padding: 0 15px;
  text-align: center;
}

.tips {
  list-style: none;
  margin: 0 15px;
  padding: 0;
}
.tips > li {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #4e4e4e;
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
  padding: 15px;
  text-align: center;
}
.tips > li + li {
  margin-top: 10px;
}
.tips > li.github svg {
  height: 24px;
  vertical-align: bottom;
}
.tips > li p {
  margin: 0;
}
@media only screen and (min-width: 801px) {
  .tips {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    max-width: 45em;
  }
  .tips > li + li {
    margin-top: 0;
  }
}

.glyphs {
  text-align: center;
}
.glyphs > button {
  background: #fff;
  border: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #000;
  cursor: pointer;
  direction: ltr;
  display: inline-block;
  font-family: sans-serif;
  font-size: 40px;
  height: 80px;
  line-height: 80px;
  margin: 7.5px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  white-space: pre;
  width: 80px;
  transition: box-shadow 0.2s ease;
}
@media only screen and (min-width: 801px) {
  .glyphs > button {
    margin: 15px;
  }
}
.glyphs > button .glyph-char {
  display: block;
  margin: -15px -100% 0;
}
.glyphs > button .label {
  bottom: 0;
  color: #666d71;
  display: block;
  font-size: 10px;
  left: 0;
  line-height: 20px;
  opacity: 0.4;
  overflow: hidden;
  padding: 0 5px;
  position: absolute;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  width: 100%;
}
.glyphs > button:hover, .glyphs > button:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
.glyphs > button:hover .label, .glyphs > button:focus .label {
  color: #4e4e4e;
}
.glyphs .searching,
.glyphs .empty {
  color: #8c9397;
  font-size: 24px;
  font-weight: 200;
  padding: 15px;
  text-align: center;
}
@media only screen and (min-width: 801px) {
  .glyphs .searching,
.glyphs .empty {
    padding: 30px;
  }
}

.query-info {
  background: #fff;
  padding: 15px;
  text-align: left;
}
@media only screen and (min-width: 801px) {
  .query-info {
    padding: 30px;
  }
}

.glyph {
  background: #fff;
  margin-top: -80px;
  padding: 15px;
  position: relative;
}
.glyph .close {
  background: transparent;
  border: 0;
  color: #2e2e2e;
  cursor: pointer;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 40px;
}
.glyph .close:hover, .glyph .close:focus {
  color: #1d9acc;
}
.glyph h1 {
  color: #2e2e2e;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.01em;
  margin: 0 0 10px;
  padding: 0 30px;
  text-align: center;
  text-transform: uppercase;
}
.glyph h2 {
  color: #000;
  font-family: sans-serif;
  font-size: 8em;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 auto 20px;
  position: relative;
  text-align: center;
  width: 1.25em;
  border: 5px dotted #f1f2f3;
}
.glyph h2 #glyph {
  -webkit-font-smoothing: antialiased;
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0 -100%;
  white-space: pre;
}
.glyph h2 .copy {
  right: -35px;
  top: 0;
}
.glyph h3 {
  color: #4e4e4e;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.01em;
  margin: 0 0 5px;
}
.glyph pre {
  color: #4e4e4e;
  font-size: 18px;
  line-height: 2;
  margin: 0;
}
.glyph pre.js, .glyph pre.html, .glyph pre.css {
  color: #8c9397;
}
.glyph pre.js span, .glyph pre.html span, .glyph pre.css span {
  color: #4e4e4e;
}
@media only screen and (min-width: 801px) {
  .glyph {
    margin-top: -120px;
    padding: 30px;
  }
  .glyph .close {
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    width: 60px;
  }
  .glyph h1 {
    font-size: 30px;
    margin: 0 0 20px;
  }
  .glyph h2 {
    margin-bottom: 40px;
  }
}

.copy {
  background: 0;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 8px;
  width: 30px;
}
.copy::after {
  background: rgba(46, 46, 46, 0.85);
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 12px;
  line-height: 14px;
  margin-right: 4px;
  margin-top: -12px;
  padding: 3px 5px;
  position: absolute;
  right: 100%;
  top: 50%;
  white-space: nowrap;
}
.copy::before {
  border: 4px solid transparent;
  border-left-color: rgba(46, 46, 46, 0.85);
  border-right-width: 0;
  display: block;
  margin-top: -6px;
  position: absolute;
  right: 100%;
  top: 50%;
}
.copy:hover::after {
  content: "Copy to clipboard";
}
.copy:hover::before {
  content: "";
}
.copy.copied::after {
  animation: fade-out 3s cubic-bezier(1, 0, 1, 0);
  content: "Copied!";
}
.copy.copied::before {
  animation: fade-out 3s cubic-bezier(1, 0, 1, 0);
  content: "";
}

.examples {
  margin-top: 30px;
}

.code,
.example {
  padding-right: 35px;
  position: relative;
}
.code pre,
.example pre {
  background: #f9fafa;
  border-radius: 2px;
  border: 1px solid #f1f2f3;
  margin: 0 0 10px;
  padding: 6px 12px;
}

.tabs-nav {
  display: flex;
  list-style: none;
  margin: 0 auto 15px;
  max-width: 30em;
  justify-content: center;
  padding: 0;
}
.tabs-nav > li {
  margin: 0 8px 0 0;
}
.tabs-nav > li a {
  border: 1px solid transparent;
  border-radius: 6px;
  color: #8c9397;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  padding: 1px 6px;
  text-decoration: none;
}
.tabs-nav > li a:hover, .tabs-nav > li a:focus {
  color: #1d9acc;
}
.tabs-nav > li.selected a {
  background: #f1f2f3;
  border-color: #e4e4e4;
  color: #1d9acc;
}

.tab-panel {
  margin: auto;
  max-width: 30em;
}
.tab-panel[aria-hidden=true] {
  display: none;
}

/*# sourceMappingURL=/app.a3fb41f6.css.map */