.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: min-content;
  color: var(--accent-10);
  font-size: 2rem;
  font-family: var(--font-glyph);
  line-height: 1;
  animation: 2s spin linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
