// https://www.radix-ui.com/docs/colors/palette-composition/the-scales

:root {
  // Color: mono
  --mono1: hsl(246deg 6% 9%);
  --mono2: hsl(240deg 5.1% 11.6%);
  --mono3: hsl(241deg 5% 14.3%);
  --mono4: hsl(242deg 4.9% 16.5%);
  --mono5: hsl(243deg 4.9% 18.8%);
  --mono6: hsl(244deg 4.9% 21.5%);
  --mono7: hsl(245deg 4.9% 25.4%);
  --mono8: hsl(247deg 4.8% 32.5%);
  --mono9: hsl(252deg 4% 45.2%);
  --mono10: hsl(247deg 3.4% 50.7%);
  --mono11: hsl(253deg 4% 63.7%);
  --mono12: hsl(256deg 6% 93.2%);

  // Color: accent
  --accent1: hsl(250deg 20% 10.2%);
  --accent2: hsl(255deg 30.3% 12.9%);
  --accent3: hsl(253deg 37% 18.4%);
  --accent4: hsl(252deg 40.1% 22.5%);
  --accent5: hsl(252deg 42.2% 26.2%);
  --accent6: hsl(251deg 44.3% 31.1%);
  --accent7: hsl(250deg 46.8% 38.9%);
  --accent8: hsl(250deg 51.8% 51.2%);
  --accent9: hsl(252deg 56% 57.5%);
  --accent10: hsl(251deg 63.2% 63.2%);
  --accent11: hsl(250deg 95% 76.8%);
  --accent12: hsl(252deg 87% 96.4%);

  // Color: black
  --black1: hsl(0deg 0% 0% / 1.2%);
  --black2: hsl(0deg 0% 0% / 2.7%);
  --black3: hsl(0deg 0% 0% / 4.7%);
  --black4: hsl(0deg 0% 0% / 7.1%);
  --black5: hsl(0deg 0% 0% / 9%);
  --black6: hsl(0deg 0% 0% / 11.4%);
  --black7: hsl(0deg 0% 0% / 14.1%);
  --black8: hsl(0deg 0% 0% / 22%);
  --black9: hsl(0deg 0% 0% / 43.9%);
  --black10: hsl(0deg 0% 0% / 47.8%);
  --black11: hsl(0deg 0% 0% / 56.5%);
  --black12: hsl(0deg 0% 0% / 91%);

  // Color: white
  --white1: hsl(0deg 0% 100% / 0%);
  --white2: hsl(0deg 0% 100% / 1.3%);
  --white3: hsl(0deg 0% 100% / 3.4%);
  --white4: hsl(0deg 0% 100% / 5.6%);
  --white5: hsl(0deg 0% 100% / 8.6%);
  --white6: hsl(0deg 0% 100% / 12.4%);
  --white7: hsl(0deg 0% 100% / 17.6%);
  --white8: hsl(0deg 0% 100% / 24.9%);
  --white9: hsl(0deg 0% 100% / 38.6%);
  --white10: hsl(0deg 0% 100% / 44.6%);
  --white11: hsl(0deg 0% 100% / 59.2%);
  --white12: hsl(0deg 0% 100% / 92.3%);

  // Font: family
  --font-body: system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', arial, sans-serif;
  --font-mono: ui-monospace, sfmono-regular, sf mono, menlo, consolas, liberation mono, monospace;

  // Font: size
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 32px;

  // Line
  --line-compact: 1.2;
  --line-normal: 1.4;
  --line-relaxed: 1.6;

  // Radii
  --radius-0: 0;
  --radius-1: 2px;
  --radius-2: 3px;
  --radius-3: 4px;
  --radius-4: 8px;

  // Space
  --space-0: 0;
  --space-1: 2px;
  --space-2: 4px;
  --space-3: 8px;
  --space-4: 12px;
  --space-5: 16px;
  --space-6: 24px;
  --space-7: 32px;
  --space-8: 48px;
  --space-9: 64px;

  // Layout
  --result-gap: var(--space-3);
  --result-size: 2.5rem;
  --result-cols: 6;
  --app-width: calc(var(--result-size) * var(--result-cols) + var(--result-gap) * (var(--result-cols) + 1));
}

@media screen and (min-width: 480px) {
  :root {
    --result-gap: var(--space-4);
    --result-size: 3rem;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --result-gap: var(--space-5);
    --result-size: 4rem;
    --result-cols: 8;
  }
}
